<!--Form with header-->
<div class="card">
  <div class="card-block">
    <!--Header-->
    <div class="form-header red-gradient">
        <h3 class="text-center">Sign In</h3>
    </div>
    <!--Body-->
    <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <%= f.email_field :email, class: 'form-control', placeholder: "john@example.com" %>
      </div>
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <%= f.password_field :password, class: 'form-control', placeholder: "Create password" %>
      </div>
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Repeat password" %>
      </div>
      <%= f.submit 'Create Account', :class => 'btn btn-danger btn-block btn-lg' %><br>
      <fieldset class="form-group center">
        <%= link_to "Don't have an account? Sign up now!", signup_path, class: "text-danger" %>
      </fieldset>
    <% end %>
  </div>
</div>
<!--/Form with header-->
