<div class="container">
  <div class="card">
    <div class="card-block">
      <!--Header-->
      <div class="form-header red-gradient">
          <h3 class="text-center">Edit <%= resource_name.to_s.humanize %></h3>
      </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :first_name, autofocus: true, placeholder: "Enter your first name", class: "form-control" %>
        </div>

        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :last_name, placeholder: "Enter your last name", class: "form-control" %>
        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <%= f.email_field :email, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control', placeholder: "Leave these fields blank if you don't want to change your password" %>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Leave these fields blank if you don't want to change your password" %>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <%= f.password_field :current_password, class: 'form-control', placeholder: "You must enter your current password to make changes" %>
        </div>
        <div class="md-form">
          <%= f.submit 'Update', :class => 'btn btn-danger btn-block btn-lg' %>
        </div>
      <% end %>
      <div class="md-form">
        <h4>Cancel Account</h4>
        <p>Unhappy? We'll be sad to see you go.</p>
        <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>
