

<!--Form with header-->
<div class="card">
  <div class="card-block">
    <!--Header-->
    <div class="form-header red-gradient">
        <h3 class="text-center">Sign Up</h3>
    </div>
    <!--Body-->
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="md-form">
      <i class="fa fa-user prefix"></i>
      <%= f.text_field :first_name, autofocus: true, placeholder: "Enter your first name", class: "form-control" %>
    </div>

    <div class="md-form">
      <i class="fa fa-user prefix"></i>
      <%= f.text_field :last_name, placeholder: "Enter your last name", class: "form-control" %>
    </div>
    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <%= f.email_field :email, class: 'form-control', placeholder: "john@example.com" %>
    </div>
    <div class="md-form">
      <i class="fa fa-lock prefix"></i>
      <%= f.password_field :password, class: 'form-control', placeholder: "Create password" %>
    </div>
    <div class="md-form">
      <i class="fa fa-lock prefix"></i>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Repeat password" %>
    </div>
    <%= f.submit 'Sign up', :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
<!--/Form with header-->
