<p><%= link_to 'Chefs:', chefs_path %> <%= Chef.count %> registered</p>
<div class="pagination-container">
  <div class="pagination">
    <%= will_paginate(@chefs, :renderer => WillPaginate::ActionView::LinkRenderer) %>
  </div>
</div><br>
  <!--Author box-->
<% @chefs.each do |chef| %>
  <div class="author-box">
      <!--Name-->
      <hr>
      <h3 class="h3-responsive text-center"><%= link_to chef.chefname.capitalize, chef_path(chef) %></h3>
      <hr>
      <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
              <%= link_to gravatar_for(chef), chef_path(chef) %>
              <span>
                <% if logged_in? && current_chef.admin? && !chef.admin? %>
                  <%= link_to "", chef_path(chef),
                                method: :delete, data: { confirm: "Are you sure?" },
                                class: "fa fa-trash fa-2x faa-tada animated-hover" %>
                  <% end %>
              </span>
          </div>
          <!--Author Data-->
          <div class=" col-12 col-sm-10">
              <p><strong><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></strong></p>
              <div class="personal-sm">
                  <a class="email-ic"><i class="fa fa-home"> </i></a>
                  <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                  <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                  <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                  <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                  <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
              </div>
                <p class="hidden-md-down">
                  <%= %>
                </p>

          </div>
      </div>
  </div>
<% end %>
<br>
<div class="pagination-container">
  <div class="pagination">
    <%= will_paginate(@chefs, :renderer => WillPaginate::ActionView::LinkRenderer) %>
  </div>
</div>

  <!--/.Author box-->
