
<br><br>
<div class="container">

  <br><br>
  <!--Form with header-->
  <div class="card">
      <div class="card-block">
      <!--Header-->
      <div class="form-header red-gradient">
        <h3> Recipe</h3>
      </div>

      <!--Body-->
      <%= form_for(@recipe, :html => {class: "form-horizontal", multipart: true, role: "form"}) do |f| %>
        <div class="md-form">
          <i class="fa fa-book prefix"></i>
          <%= f.text_field :name, input_html: { class: "form-control", placeholder: "Enter recipe name", autofocus: true } %>
        </div>

        <div class="form-inline">
          <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
            <fieldset class="form-group">
              <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            </fieldset>
          <% end %>
        </div>
        <div class="md-form">
          <i class="fa fa-pencil prefix"></i>
          <%= f.text_area :description, rows: 10, input_html: { class: "form-control" } %>
        </div>
        <div class="md-form">
          <%= f.button class: "btn btn-danger btn-lg btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-2x'></i> Processing..."} %>
        </div>
      <% end %>
      <div class="text-center">
        <hr>
         <%= link_to "Cancel request and return to the recipes listing", recipes_path, class: "text-danger" %>
      </div>
    </div>
  </div>
  <!--/Form with header-->
</div>
