<h3>Welcome <%#= current_user.first_name %></h3>
<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p><%= render 'shared/page_title', title: "All Recipes" %> </p>
<!--Shopping Cart table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr class="text-center">
                <th>Recipe</th>
                <th>Name</th>
                <th>Description</th>
                <th>Chef</th>
                <th>Posted</th>
                <th>Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
          <% @recipes.each do |recipe| %>
            <tr>
                <th scope="row">
                    <%= image_tag(recipe.image, class: "img-fluid") %>
                </th>
                <td><strong><%= link_to recipe.name, recipe_path(recipe), class: "text-danger" %></strong><br></td>

                    <td><%= truncate(recipe.description, length: 100) %></td>
                <td>
                  <p>Creaated</p>
                </td>
                <td><small><%= time_ago_in_words(recipe.created_at) %></small></td>
                <td>
                    <span class="qty"> </span>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-danger btn-rounded">
                            <input type="radio" name="options" id="option1">&mdash;
                        </label>
                        <label class="btn btn-sm btn-danger btn-rounded">
                            <input type="radio" name="options" id="option2">+
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Remove item">X
                    </button>
                </td>
            </tr>
          <% end %>
            <!--/First row-->

        </tbody>
        <!--/Table body-->
    </table>
</div><br>
<!--/Shopping Cart table-->

<%= pie_chart Recipe.group(:name).count %>
