<p><%= link_to 'Chefs:', chefs_path %> <%= User.count %> registered</p>
<p><%= render 'shared/page_title', title: "All Recipes" %> </p>
<!--Shopping Cart table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr class="text-center">
                <th>Recipe</th>
                <th>Name</th>
                <th>Description</th>
                <th>Chef</th>
                <th>Created</th>
                <th>Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
          <% @recipes.each do |recipe| %>
            <tr>
                <th scope="row">
                  <%= image_tag(recipe.image.url, size: "150x100") if recipe.image? %>
                </th>
                <td><strong><%= link_to recipe.name, recipe_path(recipe), class: "text-danger" %></strong><br></td>

                    <td><%= truncate(recipe.description, length: 100) %></td>
                <td>
                  <p><%= link_to recipe.chef.chefname.capitalize %></p>
                </td>
                <td><small><%= time_ago_in_words(recipe.created_at) %> ago</small></td>
                <td>
                    <span class="qty"> </span>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-danger btn-rounded">
                            <input type="radio" name="options" id="option1">&mdash;
                        </label>
                        <label class="btn btn-sm btn-danger btn-rounded">
                            <input type="radio" name="options" id="option2">+
                        </label>
                    </div>
                </td>
                <td>
                  <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
                    <div class="btn-group btn-group-sm">
                      <%= link_to "Edit this recipe", edit_recipe_path(recipe), class: "btn btn-warning btn-sm" %>
                      <%= link_to "Delete this recipe", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                    </div>
                  <% end %>
                </td>
            </tr>
          <% end %>
            <!--/First row-->

        </tbody>
        <!--/Table body-->
    </table>
</div><br>
<!--/Shopping Cart table-->

<%= pie_chart Recipe.group(:name).count %>
