
<div class="container">
  <!--Author box-->
  <div class="author-box">

      <!--Name-->
      <hr>
      <h3 class="h3-responsive text-center"><%= render 'shared/page_title', title: @recipe.name %></h3>
      <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
              <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
          </div>
          <!--Author Data-->
          <div class=" col-12 col-sm-10">
              <p><strong><%= @recipe.chef.chefname.capitalize %></strong></p>
              <p><%= time_ago_in_words(@recipe.created_at) %> ago</p>
              <div class="personal-sm">
                  <a class="email-ic"><i class="fa fa-home"> </i></a>
                  <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                  <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                  <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                  <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                  <a class="email-ic"><i class="fa fa-envelope-o"> </i></a><br><br>
                  <div class="row liking">
                    <div class="row col-md-8 col-md-offset-2">
                      <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                        <i class="fa fa-thumbs-up fa-2x faa-vertical animated-hover" aria-hidden="true"></i>&nbsp;<span class="badge white text-success"><%= @recipe.thumbs_up_total %></span>
                      <% end %> &nbsp;
                      <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
                        <i class="fa fa-thumbs-down fa-2x faa-vertical animated-hover" aria-hidden="true"></i>&nbsp;<span class="badge white text-danger"><%= @recipe.thumbs_down_total %></span>
                      <% end %>
                    </div>
                  </div>
                  <% if @recipe.ingredients.any? %>
                    <p>Ingredients: <%= render @recipe.ingredients %></p>
                  <% end %>
              </div>
              <p class="hidden-md-down">
                <%= simple_format(@recipe.description) %>
              </p>
              <div class="btn-group">
                <%= link_to "", recipes_path, class: "fa fa-hand-o-left fa-2x faa-horizontal animated-hover" %>&nbsp;&nbsp;&nbsp;&nbsp;
                <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
                <%= link_to "", edit_recipe_path(@recipe), class: "fa fa-pencil fa-2x faa-wrench animated-hover", data: { confirm: "Are you sure you wanna edit this recipe?" } %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "", recipe_path(@recipe), class: "fa fa-trash fa-2x faa-shake animated-hover", toggle:"tooltip", placement:"top", title:"Delete", method: :delete, data: { confirm: "Are you sure?" } %>&nbsp;&nbsp;
                <% end %>
              </div>
          </div>
      </div>
  </div>
  <% if logged_in? %>
    <!--Section: Leave a reply (Logged In User)-->
    <section>
        <!--Leave a reply form-->
        <div class="reply-form">
            <h1 class="section-heading">Leave a reply </h1>
            <p class="text-center">(<%= current_chef.chefname %>)</p>
            <!--Third row-->
            <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal",  role: "form"}) do |f| %>
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                    <%= link_to gravatar_for(current_chef), chef_path(@chef) %>
                </div>
                <!--/.Image column-->

                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <div class="md-form">
                        <%= f.text_area :description, data: { behavior: "room_speaker" }, class: "md-textarea" %>
                    </div>
                </div>
                <!--Content column-->

                <div class="text-center">
                    <%= f.button "Submit", class: "btn btn-danger", data: { send: "message" } %>
                </div>
                <!--/.Content column-->
              </div>
            <% end %>
            <!--/.Third row-->
        </div>
        <!--/.Leave a reply form-->

    </section>
    <!--/Section: Leave a reply (Logged In User)-->
  <% end %>
  <!--/.Author box-->
  <% if @recipe.comments != 0 %>
    <div class="section-heading">
        <h3>Comments <span class="badge blue"><%= @recipe.comments.count %></span></h3>
    </div><br><br>
    <div id="messages">
      <%= render partial: 'comments/comments', object: @comments %>
    </div>
    <% else %>
    <h3>No Comments Yet</h3>
  <% end %>
</div>
