
<!--Section: Blog v.4-->
<section class="section section-blog-fw">

  <hr>

  <!--First row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="view overlay hm-white-slight">
        <!-- <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg"> -->
        <a>
          <div class="mask "></div>
        </a>
      </div><br><br>

      <!--Author box-->
      <div class="author-box">
        <!--Name-->
        <%= render 'shared/page_title', title: @recipe.name %>
        <div class="row">
          <!--Avatar-->
          <div class="col-12 col-sm-2">
            <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
          </div>
          <!--Author Data-->
          <div class=" col-12 col-sm-10">
            <p><strong><%= @recipe.chef.chefname.capitalize %></strong></p>
            <p class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</p><br>
            <div class="personal-sm">
              <a class="email-ic"><i class="fa fa-home"> </i></a>
              <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
              <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
              <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
              <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
              <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
            </div>
            <p class="hidden-md-down">
              <%= simple_format(@recipe.description) %>
            </p>
            <hr>
            <% if @recipe.ingredients.any? %>
              <p>Ingredients: <%= render @recipe.ingredients %></p>
            <% end %>
          </div>
        </div>
      </div>
      <!--/.Author box-->
    </div>
  </div>
  <!--/First row-->
  <div class="btn-group">
  <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-sm btn-warning", data: { confirm: "Are you sure you wanna edit this recipe?" } %>
    <%= link_to "Destroy this recipe", recipe_path(@recipe), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to "Return to recipes listing", recipes_path, class: "btn btn-sm btn-link" %>
  </div>
  <hr>
</section><br><br><br><br>
<!--/Section: Blog v.4-->
