<%= render 'shared/page_title', title: "ChefChat" %>

<div class="container">
  <div class="messages" id="messages">
    <%= render @messages %>
  </div>
    <br>
  <!--Section: Leave a reply (Logged In User)-->
  <section>

      <!--Leave a reply form-->
      <div class="reply-form">
        <div class="center">
        </div><br>
          <h1 class="section-heading">Leave a reply <i class="fa fa-pencil faa-horizontal animated"></i></h1><br>
          <!--Third row-->

          <div class="col-md-12">
            <!-- /.box-body -->
            <div class="box-footer">
              <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>


                <div class="container">
                  <div class="md-form emoji-container">
                    <%= f.text_area :content, data: { behavior: "room_speaker", emojiable: true }, id: "md-texarea", rows: 10, placeholder: "Say something..." %>
                  </div>
                  <div class="text-center">
                    <%= f.submit "Send", class: "btn btn-danger btn-block", data: { send: "message" } %>
                  </div>
                </div>
                <% end %>
            </div>
            <!-- /.box-footer-->
        </div>
          <!--/.Third row-->
      </div>
      <!--/.Leave a reply form-->
  </section>
  <!--/Section: Leave a reply (Logged In User)-->
</div>
