
<div class="container">

  <%= render 'shared/errors', obj: @ingredient %>
  <br><br>
  <!--Form with header-->
  <div class="card">
      <div class="card-block">
      <!--Header-->
      <div class="form-header red-gradient">
        <h3> <i class="fa fa-book "></i></h3>
      </div>

      <!--Body-->
      <%= form_for(@ingredient, :html => { class: "form-horizontal", role: "form" }) do |f| %>
        <div class="md-form">
          <i class="fa fa-book prefix"></i>
          <%= f.text_field :name, input_html: { class: "form-control", placeholder: "Enter ingredient name", autofocus: true } %>
        </div>

        <div class="md-form">
          <%= f.button(@ingredient.new_record? ? "Add Ingredient" : "Update Ingredient",
                        class: "btn btn-danger btn-lg btn-block",
                        data: {disable_with: "<i class='fa fa-spinner fa-spin fa-2x'></i> Processing..."}) %>
        </div>
      <% end %>
      <div class="text-center">
        <hr>
        <%= link_to "Cancel request and return to the recipes listing", recipes_path, class: "text-danger" %>
      </div>
    </div>
  </div>
  <!--/Form with header-->
</div>
