<div class="container">
  <%= render 'shared/page_title', title: "Available Ingredients" %>
  <div class="pagination-container">
    <div class="pagination">
      <%= will_paginate(@ingredients, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>
  </div><br>
    <!--Ingredient box-->
  <% @ingredients.each do |ing| %>
    <div class="author-box">
        <!--Name-->
        <h3 class="h3-responsive text-center"><%= link_to ing.name.capitalize, ingredient_path(ing) %></h3>
        <hr>
        <div class="row">
            <!--Avatar-->
            <div class="col-12 col-sm-2">
                <span class="glyphicons glyphicons-bomb">
                  <% if logged_in? && current_chef.admin? %>
                    <%= link_to "", edit_ingredient_path(ing), class: "fa fa-pencil fa-2x faa-wrench animated-hover" %>
                  <% end %>
                </span>
            </div>
            <!--Author Data-->
            <div class=" col-12 col-sm-10">
                <p><strong><%= pluralize(ing.recipes.count, "recipe") if ing.recipes %></strong></p>
                <p><strong><%= @recipe %></strong></p>

            </div>
        </div>
    </div>
  <% end %>
  <br>
  <div class="pagination-container">
    <div class="pagination">
      <%= will_paginate(@ingredients, :renderer => WillPaginate::ActionView::LinkRenderer) %>
    </div>
  </div>
    <!--/.Ingredient box-->
</div>
