<nav>
  <ul>
    <li><%= link_to 'Sensei Chef', root_path %></li>
    <li><%= link_to "Chefs", chefs_path %></li>
    <li><%= link_to "All Recipes", recipes_path %></li>
    <li><a href="/pages/about">About</a></li>
    <% if logged_in? %>
    <li><%= link_to "View your profile", chef_path(current_chef) %></li>
    <li><%= link_to "Edit your profile", edit_chef_path(current_chef) %></li>
    <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>

    <% end %>
    <%= render 'layouts/register' %>
    <%#= render 'layouts/login' %>
    <li>
      <%= form_tag search_recipes_path, method: :get, class: "form-inline navbar-form navbar-right", role: "search" do %>
      <p><%= text_field_tag :search, params[:search], class: "form-inline waves-effect waves-light" %></p>
      <%= submit_tag "Search", name: nil, class: "btn btn-danger nav-btn" %>
      <% end %>
    </li>
  </ul>
  <div class="button">
    <a class="btn-open" href="#"></a>
  </div>
</nav>
<div class="overlay">
  <div class="wrap">
    <ul class="wrap-nav">
      <li><a href="/chefs">Chefs</a>
        <ul>
          <li><a href="/chefs">Apartments</a></li>
        </ul>
      </li>
      <li><a href="/recipes">Recipes</a>
        <ul>
          <% Recipe.all.each do |recipe| %>
          <li><%= link_to recipe.name, recipes_path(recipe: recipe.name) %></li>
          <% end %>
        </ul>
      </li>

      <li><a href="#">Services</a>
        <ul>
          <li><a href="https://www.cleveland-williams.com/" target="_blank">Web Development</a></li>
          <li><a href="#">Computer Repair</a></li>
        </ul>
      </li>
      <li><a href="/pages/about">About</a>
        <ul>
          <li><a href="/pages/about">About</a></li>
        </ul>
      </li>
    </ul>
    <div class="social">
      <a href="https://www.facebook.com/tony.gilbert.9440/" target="_blank">
        <div class="social-icon">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="https://github.com/cwilliams3579" target="_blank">
        <div class="social-icon">
          <i class="fa fa-github"></i>
        </div>
      </a>
      <a href="http://codepen.io/cwilliams3579/" target="_blank">
        <div class="social-icon">
          <i class="fa fa-codepen"></i>
        </div>
      </a>
      <p>
        By: Cleveland Williams<br>
        Site: <a href="http://coding-ninjas.com/" target="_blank">coding-ninjas.com</a>
      </p>
    </div>
  </div>
</div>
<div class="content">

</div>
<br><br><br><br><br>
